<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxs.dao.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.lxs.entity.Region" >
    <id column="city_id" property="cityId" jdbcType="VARCHAR" />
    <id column="street_id" property="streetId" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="street_name" property="streetName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_id, street_id, city_name, street_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lxs.entity.RegionKey" >
    select 
    <include refid="Base_Column_List" />
    from region
    where city_id = #{cityId,jdbcType=VARCHAR}
      and street_id = #{streetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lxs.entity.RegionKey" >
    delete from region
    where city_id = #{cityId,jdbcType=VARCHAR}
      and street_id = #{streetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lxs.entity.Region" >
    insert into region (city_id, street_id, city_name, 
      street_name)
    values (#{cityId,jdbcType=VARCHAR}, #{streetId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{streetName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lxs.entity.Region" >
    insert into region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="streetId != null" >
        street_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="streetName != null" >
        street_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null" >
        #{streetName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxs.entity.Region" >
    update region
    <set >
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null" >
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=VARCHAR}
      and street_id = #{streetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxs.entity.Region" >
    update region
    set city_name = #{cityName,jdbcType=VARCHAR},
      street_name = #{streetName,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=VARCHAR}
      and street_id = #{streetId,jdbcType=VARCHAR}
  </update>
</mapper>