:root,body{/*想让孩子100%，那么父元素必须设置宽度*/
    width: 100%;
    height: 100%;
    padding: 0;
    background: rgb(238, 233, 233);
    margin: 0;
    overflow: hidden;
}
@font-face{
    font-family: 'wawa';
    src: url('/fonts/Wawati-SC-Regular.otf'),url('/fonts/Wawati-SC-Regular.eot'),url('/fonts/Wawati-SC-Regular.ttf');
}
#main{
    height: 100%;
    min-width: 1024px;
    min-height: 576px;
    background-image:url("/photos/main-backgorund.png");
    background-size: cover;
    font-family: 'wawa';
    position: relative;
}
#mask1{
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background: rgb(77, 76, 76);
    position: absolute;
}
/*******************左边****************/
#title{
    width: auto;
    height: 100%;
    min-width: 624px;
    min-height: 576px;
    background: rgb(0,0,0,0.4);
    margin-right: 400px;
    position: relative;
}
#container-title{
    width: 540px;
    height: 400px;
    font-size: 60px;
    color: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#name-title{
    margin-bottom: 140px;
    position: relative;
    left: 55px;
}
#tradmark2-title{
    position: relative;
    left: 110px;
}
#tradmark1-title{
    font-size: 75px;
    font-weight: bold;
    color: rgb(255, 217, 102);
    position: relative;
    bottom: 8px;
    left: 90px;
}
/*****************************右边*******************/
#logIn{
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
#logIn>*{
    display: block;
}

#logIn>select{
    background-color: transparent;
    background-image:url('/photos/type-ico.png'),url('/photos/type-ico.png');
    background-position: 8px 8px,260px 8px;
    background-size: 40px;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    margin: 220px auto 40px;
    position: relative;
}
#logIn>select>option{
    background: rgba(0, 0, 0, 0.7)
}
#logIn>select>option:hover{
    background: rgba(255, 255, 255, 0.4);
}


#logIn>input:nth-child(2){
    background-image: url('/photos/name-ico.png');
}

#logIn>input:nth-child(3){
    background-image: url('/photos/password-ico.png');
    -moz-appearance: textfield;
}

#logIn>input:nth-child(4){
    width: 200px;
    height: 50px;
    background: rgb(255, 219, 151);
    margin: auto;
    color: white;
    font-size: 25px;
}
#logIn>input:nth-child(4):active{
    transform: scale(0.97);
}
#logIn>input:nth-child(4):focus{
    outline: none;
}
/*去掉数字输入的上下箭头*/
#logIn>input:nth-child(3)::-webkit-outer-spin-button,
#logIn>input:nth-child(3)::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input{
    width: 240px;
    height: 50px;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 8px 8px;
    padding:0 0 0 60px;
    margin:0 auto 40px auto; 
    box-sizing: content-box;
    font-size: 25px;
    letter-spacing: 3px;
    color: rgb(230, 227, 227);
}
/*改变下划线颜色*/
.input::-webkit-input-placeholder{
    color: rgb(230, 227, 227);
}
/*边框样式*/
.inputBorder{
    border: 4px white solid;
    border-radius: 8px;
}
.inputBorder:not([type='button']):focus{
    color: white;
    border-color: rgb(110, 241, 110);
    outline: none;
    box-shadow: 0 0 2px 0 rgb(175, 250, 175);
}

#new-user{
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
}