:root,body{
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 400px;
    padding: 0;
    background-image:url('../photos/main-backgorund.png');
    background-size:cover; 
    background-repeat:no-repeat;
    margin: 0;
    overflow: hidden;
}

#app{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
/*********************标题**************************/
#trademark{
    width: 170px;
    height: 80px;
    margin: 0px auto;
    position: relative;
    top: 10px;
}

#trademark>img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    position: relative;
    top: 6px;
}

#trademark>span{
    font-size: 40px;
    font-weight: bold;
    color:rgb(255,217,102);
}
/*************************导航**************************/
#navigation{
    width: 100%;
    height: 80px;
    border: 3px rgb(250, 132, 53) solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navigation>button{
    width: 80px;
    height: 80px;
    background: transparent;
    font-size: 30px;
    line-height: 80px;
    color: white;
    border: 0;
    position: relative;
}

#navigation>button:hover{
    color:rgb(243, 75, 24);    
}

#navigation>button:active{
    font-size: 28px;
}

#navigation>button:focus{
    outline: none;
    color:rgb(243, 75, 24);
}

#navigation>button:focus::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid rgb(250, 132, 53);
    border-right:20px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 20px solid transparent;
    position: absolute;
    top: 100%;
    left: 25px;
}

/*********************主体***********************/

.disappear{
    display: none;
}
.appear{
    display: block;
}

/*********************个人信息************************/


#information{
    width: auto;
    height: 600px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px;
    position: relative;
}


#information>ul{
    width: 400px;
    height: 200px;
    list-style: none;
    padding:0;
    margin: 10px auto;
    position: relative;
    top: 140px;
}
#information>ul>li{
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#information button{
    width: 60px;
    background: rgb(255,217,102);
    border: 2px white solid;
    border-radius: 4px;
}

#information button:active{
    transform: scale(0.95);
}

#information button:focus{
    outline: none;
}

#information>button{
    margin: auto;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
}
/***************订单**************/
#orderPage{
    width: auto;
    height: 600px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    margin: 20px;
    position: relative;
    
}

#orderPage>div{
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.order,.order tr,.order tr>td{
    text-align: center;
    border: 2px solid rgb(255, 208, 0);
    border-collapse: collapse;
}
.order tr{
    height: 40px;
}
.order tr>td:first-child{
    width: 80px;
}
.order tr>td:last-child{
    width:180px;
}
.order tr:nth-child(2n){
    background: white;
}
.order tr:nth-child(2n+1){
    background: yellow;
}
#btnContainer{
    width: 140px;
    height: 40px;
    margin: 30px auto;
}
#btnContainer>button{
    width: 50px;
    height: 50px;
    border: 0;
}
#btnContainer>button:last-child{
    background: transparent url('/photos/slideR.png') no-repeat;
    background-size: cover;
}
#btnContainer>button:first-child{
    background: transparent url('/photos/slide.png') no-repeat;
    background-size: cover;
}
#btnContainer>button:focus{
    outline: none;
}
#btnContainer>button:active{
    transform: scale3d(0.96,0.96,1);
}

/***************首页************************/
/*********餐馆*********/
#homePage{
    width: auto;
    height: 580px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    margin: 20px;
    overflow-y: auto;
    position: relative;
}


#restaurantPage{
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.restaurant{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

.dish{
    width: 200px;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

/******修改删除增加*****/
.cbtn{
      background: rgb(255,217,102);
      border: none;
      border-radius: 6px;
      font-size: 20px;
      color: white;
      margin: 10px;
  }


.cbtn:active{
    transform: scale(0.96);
}

.cbtn:focus{
    outline: none;
}

.cbtn_img{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: none;
    float:right;
    margin: 0px 20px;
    background: transparent url('/photos/back.png') no-repeat;
    background-size: cover;
}

.cbtn_img:active{
    transform: scale(0.92);
}

.cbtn_img:focus{
    outline: none;
}